@font-face {
    font-family: 'NudistaMedium';
    src: url('nudista_-_medium-webfont.eot');
    src: url('nudista_-_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('nudista_-_medium-webfont.woff') format('woff'),
         url('nudista_-_medium-webfont.ttf') format('truetype'),
         url('nudista_-_medium-webfont.svg#NudistaMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NudistaSemiBold';
    src: url('nudista_-_semibold-webfont.eot'); src: url('nudista_-_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nudista_-_semibold-webfont.woff') format('woff'),
         url('nudista_-_semibold-webfont.ttf') format('truetype'),
         url('nudista_-_semibold-webfont.svg#NudistaSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'NudistaMedium', sans-serif;
    font-size: 13px;
    background-color: #e4e4e4;
}

img { border: none; }

article, #navbar > nav, footer {
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

#navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.1em;
    z-index: 1000;
}

#navbar > nav {
    width: 780px;
    padding: 0 10px;
    color: #fff;
    background-color: #636466;
}

#navbar > nav a {
    display: inline-block;
    padding: 8px 5px; 
    color: #fff;
    text-decoration: none;
}

#navbar > nav a.active, #navbar > nav a:hover {
    color: #66ccff;
}

article {
    margin-top: 29px;
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    display: block;
}

h1 {
    font-size: 21px;
}

p, li {
    font-size: 1em;
}

section > h1 {
    margin-top: 0;
    margin-bottom: 0.67em;
}

section ul {
    padding-left: 13px;
}

section li {
    margin: 5px 0 0;
    padding: 0;
}

section > p {
    margin-top: 0;
}

section {
    margin: 0;
    padding: 30px 15px 15px;
    height: 350px;
    background: #fff none no-repeat 0 100%;
}

#vize {
    height: auto;
    overflow: hidden;
}

#v1, #v2, #v3, #v4 {
    width: 370px;
}

#v1, #v2 {
    float: left;
    clear: left;
}

#v3, #v4 {
    margin-left: 390px;
}

#parametry {
    background-image: url('parametry_bg.jpg');
    height: 833px;
}


#technologie {
    background-image: url('technologie_bg.jpg');
    background-position: 0 0;
    position: relative;
    height: 434px;
}

#kluziste {
    background-image: url('kluziste_bg.jpg');
    padding: 30px 15px;
    height: 452px;
}

#lokalita {
    background-image: url('lokalita_bg.jpg');
    padding: 30px 15px;
    height: 910px;
}

#t1, #t2, #t3 {
    width: 160px;
    margin: 0;
    padding: 0;
    position: absolute;
}

#t1 { left: 270px; top: 70px; }
#t2 { left: 270px; top: 280px; }
#t3 { left: 490px; top: 70px; }

#teaser {
    height: 401px;
    padding: 0 16px;
    background: #fff url('plovarna_bg.jpg') no-repeat 0 0;
}

#teaser > p {
    margin: 0;
    padding: 282px 0 0;
    color: #fff;
    font-family: 'NudistaSemiBold', sans-serif;
    font-size: 18px;
    text-shadow: #000 0 0 3px;
}

#space-factory {
    height: 200px;
    padding: 0 370px 0 0;
    background: #c7c8ca;
    position: relative;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    width: 430px;
    height: 200px;
}

#space-factory > h1 {
    margin: 0;
    padding: 20px 15px 13px;
}

#space-factory ul {
    margin: 0;
    padding: 0 15px;
    list-style-type: none;
}

#space-factory li {
    margin: 0 0 3px;
}

#space-factory address {
    font-style: normal;
}

#space-factory > p {
    margin-top: 8px;
    padding: 0 15px;
}

#reference {
    height: auto;
    color: #010101;
    background-color: #fff;
}

#reference figure {
    margin: 0 0 0 -3px;
}

#logos {
    height: 1%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#logos > li {
    float: left;
    vertical-align: middle;
    margin: 0;
    padding: 13px 0 0 0;
}

#plovarna {
    padding: 20px 14px 20px 84px;
    background: #fff url('logo.png') no-repeat 14px 50%;
    position: relative;
}

#plovarna > h1 {
    margin: 0;
    padding: 0;
    color: #04adf2;
    font-family: 'NudistaSemiBold', sans-serif;
    font-weight: bold;
}

#plovarna > address {
    margin: 3px 0 0;
    padding: 0;
    color: #04adf2;
    font-style: normal;
}

#plovarna > p {
    position: absolute;
    top: 15px;
    right: 14px;
    font-family: 'NudistaSemiBold', sans-serif;
    font-size: 18px;
}

#social {
    height: 1%;
    overflow: hidden;
    background-color: #edeef0;
    border-bottom: 1px solid #dedfe1;
}

#social > p {
    margin: 0;
    padding: 15px 15px 0;
    font-size: 18px;
}

#profiles {
    float: right;
    padding: 0 15px 15px;
    font-size: 13px;
}

#profiles > a {
    margin-left: 5px;
}

#profiles > span {
    position: relative;
    top: -3px;
}

#likes {
    height: 1%;
    overflow: hidden;
    padding: 25px 25px 0;
}

#likes > div {
    float: left;
}

#space-factory .email {
    color: #000;
    font-family: 'NudistaSemiBold', sans-serif;
    text-decoration: none;
}

#space-factory .email:hover {
    color: #fff;
}

#kontakt-nav {
    float: right;
}

#vision-text {
    clear: both;
    margin: 0;
    color: #04adf2;
    font-size: 34px;
}

#en #vision-text {
    font-size: 28px;
}

#language {
    float: right;
}

.fn.org > a {
    color: #000;
    text-decoration: none;
}

.fn.org > a:hover {
    text-decoration: underline;
}
